* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #f9ededab;
}

.App {
	display: grid;
	grid-template-rows: 12% 1fr auto;
	width: 100%;
	height: 100vh;
}

.header {
	height: 100%;
	background: linear-gradient(to top, transparent, rgba(207, 232, 240, 0.726));
	padding: 0 10%;
	/* position: fixed; */
	/* position: sticky;
	top: 0;
	left: 0;
	z-index: 999; */
}

.header-container {
	height: inherit;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	place-items: center;
}

.logo-text {
	font-weight: bolder;
	font-size: 3.5rem;
}

.navbar {
	display: inherit;
	place-items: center;
	height: inherit;
	font-weight: bolder;
	font-size: 1.5rem;
}

.nav-links {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.nav-link {
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

.nav-link:hover {
	border-radius: 6px;
	background-color: #2020208c;
	color: white;
	transition: all 0.3s ease-in-out;
}

.container {
	display: grid;
	margin: 0 10%;
	grid-template-columns: minmax(auto, 200px) minmax(300px, 1fr) minmax(auto, 350px);
	grid-gap: 20px;
}

.sidebar-left {
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.catagories-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

}

ul,
.catagories {
	width: inherit;
	padding-left: 0;
	list-style-type: none;
}

li,
.catagories-title {
	padding-left: 10px;
	width: inherit;
	font-style: "Times New Roman", Times, Serif;
	color: #2020208c;
	text-decoration: underline;
}

.item-title {
	display: grid;
	place-items: center;
	width: inherit;
	font-style: oblique;
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 10px 20px 10px 10px;
	margin: 10px 0;
	text-align: left;
}

.item-title:hover {
	width: inherit;
	background: linear-gradient(to top,
			transparent,
			rgba(163, 157, 157, 0.635));
	color: rgb(0, 3, 80);
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}

.content {
	background-color: rgb(255, 255, 255);
	padding: 10px;
}

.display-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.display-item-box {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
}

.product-title {
	font-weight: bold;
	font-size: 2em;
	display: grid;
	place-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
	color: #333;

}

.product-item-image {
	margin: 10px;
	height: 300px;
	width: 100%;
	display: grid;
	place-items: center;
}

.product-item-image img {
	padding: 5px;
	width: 80%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}

.product-item-disc {
	margin-top: 2rem;
	margin-right: 15px;
	display: grid;
	grid-template-rows: 1.5fr 1f 1fr;
	gap: 5px;
	position: relative;
}

.product-item-description {
	display: grid;
	place-items: center;
	font-weight: bold;
	font-style: italic;
	color: rgba(31, 25, 25, 0.909);
}

.product-item-price {
	font-weight: bold;
	font-size: 2em;
}

.dollar {
	position: absolute;
	font-size: 14px;
	margin: 0px;
}
.number-cart-added{
	position: absolute;
	font-size: 17px;
	background-color: rgba(226, 226, 61, 0.84);
	color: #202020bc;
	padding: 0 5px;
	border-radius: 50%;
}
.number {
	position: absolute;
	font-size: 18px;
	padding-left: 10px;

}

.decide-to-add-to-cart,
.add-to-cart-btn {
	display: inline-block;
	width: 100%;
	height: 50px;
	background-color: rgba(40, 40, 248, 0.8);
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.nine-number {
	font-size: 11px;
	right: 0;

}

.sidebar-right {
	margin-top: 10px;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}

.cart-quantity-box {
	background-color: #eee9e9;
	width: 100%;
	height: 13.5%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
	border-radius: 5px;
	padding: 10px;
	flex-direction: column;
	gap: 10px;
	right: 0;

}

.cart-quantity-box-img {
	height: 250px;
	width: 100%;
	display: grid;
	place-items: center;
	border-radius: 10px;
	background-color: #fff;
}

.cart-quantity-box-img img {
	padding: 5px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
	display: grid;
	place-items: center;
	overflow: hidden;
	background-color: #fff;
}

.quantity-selection-box {
	margin-top: 20px;
	width: 100%;
	height: inherit;
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 5px;
}

.quantity-selection-box-input {
	width: inherit;
	height: 40px;
	padding-left: 10px;
	font-weight: bold;

}

.decide-to-add-to-cart {
	background-color: #22fd4eda;
	color: #333;
}

.item-selected-message-box{
	display: none;
	place-items: center;
	font-size: bolder;
	color: #2020208c;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);

}

.footer {
	background: linear-gradient(to bottom, transparent, rgba(207, 232, 240, 0.925));
	padding: 20px;
}

.footer-items {
	display: flex;
	justify-content: center;
}

.footer-items>h4 {
	margin-right: 20px;
}