* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.App {
	display: grid;
	grid-template-rows: 12% 1fr auto;
	width: 100%;
	height: 100vh;
}

.header {
	height: 100%;
	background: linear-gradient(to top, transparent, rgba(207, 232, 240, 0.726));
	padding: 0 10%;

}

.header-container {
	height: inherit;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	place-items: center;
}

.logo-text {
	font-weight: bolder;
	font-size: 3.5rem;
}

.navbar {
	display: inherit;
	place-items: center;
	height: inherit;
	font-weight: bolder;
	font-size: 1.5rem;
}

.nav-links {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.nav-link {
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

.nav-link:hover {
	border-radius: 6px;
	background-color: #202020;
	color: white;
	transition: all 0.3s ease-in;
}

.container {
	display: grid;
	margin: 0 10%;
	grid-template-columns: minmax(auto, 300px) minmax(300px, 1fr) minmax(auto, 250px);
	grid-gap: 20px;
}

.sidebar-left {
	background-color: lightgray;
	padding: 20px;
}

.content {
	background-color: white;
	padding: 20px;
}

.sidebar-right {
	background-color: lightgray;
	padding: 20px;
}

.footer {
	background: linear-gradient(to bottom, transparent, rgba(207, 232, 240, 0.925));
	padding: 20px;
}